node_modules/
.env
.DS_Store
*.log

/app/generated/prisma
storage/
.playwright-mcp/
.claude/
.codex
.agents/
main-styled*.png
history-styled*.png
public/home-assets/*.jpg
public/assets/*.js
public/assets/*.css
public/history/assets/*.js
public/history/assets/*.css
example
home-tube*.png
